@import "../../variables";

.book-body {
    background-color: $dark;

    .wrapper {
        padding: 0 15% 8rem;
        background-image: url("../../assets/images/field-bg.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}
