@import "../../variables";

.field-list-body {
    background-color: $dark;

    &.in-home-page {
        margin-top: -4rem;
        background-color: transparent;

        > .wrapper {
            &::before {
                display: none;
            }
        }
    }

    > .wrapper {
        padding: 0 20px 1px;

        @extend %wrapper;

        .empty-check {
            display: none;

            &:nth-child(2) {
                display: block;
                color: $disabled;
            }
        }
    }
}
