@import "../../variables";

.field-list-body {
    background-color: $dark;

    > .wrapper {
        padding: 0 20px 1px;

        .empty-check {
            display: none;

            &:nth-child(2) {
                display: block;
                color: $disabled;
            }
        }
    }
}
