@import "../../variables";

%shared-style {
    font-size: 2.4rem;
    font-weight: 900;
    text-align: center;
    white-space: pre-line;
}

.body-title {
    @extend %shared-style;

    &.primary {
        padding: 5rem 0 3rem;
        color: $primary;
    }

    &.secondary {
        padding: 0 0 1rem;
        color: $input;
    }

    &.third {
        color: $input;
    }

    &.left {
        text-align: left;
    }

    &.color-primary {
        color: $primary;
    }

    &.color-secondary {
        color: $secondary;
    }

    &.color-content {
        color: $content;
    }

    &.color-danger {
        color: $danger;
    }

    &.m {
        font-size: 1.6rem;
    }
}
