@import "../../variables";

.notifications {
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    width: 90vw;
    height: 100vh;
    background-color: $sportsman-background-color;
    border-left: 1px solid $primary;
    z-index: $header-z;
    animation: slide-in__right $transition ease-out;
}

.notifications-cancel {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $notification-cancel-height;
    height: $notification-cancel-height;
}

.notifications-space1 {
    height: 12%;
}

.notifications-notification-item {
    margin: 0 12px;
    padding: 10px 0;
    font-size: 16px;
    color: $notification-item-text-color;
    border-bottom: 1px dashed $notification-item-border-color;
}

@media (min-width: $pc-min-width) {
    .notifications {
        width: calc(0.9 * $pc-display-size);
    }
}
