$sportsman-primary-color: #8cea00;
$sportsman-secondary-color: #82d900;
$sportsman-background-color: #272727;
$sportsman-normal-text-color: #d0d0d0;
$sportsman-input-border-color: #6c6c6c;
$sportsman-input-placeholder-color: #9d9d9d;

$court-provider-background-color: #c4e1ff;

$error-color: red;
