@import "./_globals.scss";

html,
body,
#app {
    margin: auto;
    width: 100%;
    height: 100%;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
}

.root {
    width: 100%;
    height: 100%;
}

.court-provider {
    width: 100%;
    height: 100%;
    background-color: $court-provider-background-color;
}

.sportsman {
    width: 100%;
    height: 100%;
    background-color: $sportsman-background-color;
}
