@import "./_background_colors.scss";
@import "./_sizes.scss";

.root-court-provider {
    width: 100vw;
    height: 100vh;
    background-color: $court-provider-background-color;
    overflow: auto;
}

.root-sportsman {
    width: 100vw;
    height: 100vh;
    background-color: $sportsman-background-color;
    overflow: auto;
}

@media (min-width: $pc-min-width) {
    .root-court-provider,
    .root-sportsman {
        margin: auto;
        width: $pc-display-size;
    }
}
