@import "./variables";

.icon {
    display: inline-block;
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 70% 70%;

    &.nav {
        background-image: url("./assets/images/icon/nav.svg");
    }

    &.pin {
        background-image: url("./assets/images/icon/pin.svg");
    }

    &.left-triangle {
        margin-right: 0.2rem;
        background-image: url("./assets/images/icon/left-triangle.svg");
        background-size: 100% 100%;
    }

    &.map {
        margin-right: 0.2rem;
        background-image: url("./assets/images/icon/map.svg");
        background-size: 100% 100%;
    }

    &.control {
        margin-right: 0.2rem;
        background-image: url("./assets/images/icon/control.svg");
        background-size: 100% 100%;
    }

    &.walking {
        margin-top: -0.3rem;
        width: 1rem;
        height: 1.6rem;
        background-image: url("./assets/images/icon/walking-man.png");
        background-position: bottom right;
        background-size: 66% 66%;
    }

    &.add-calendar {
        background-image: url("./assets/images/icon/add-calendar.svg");
        background-size: 100% 100%;
    }

    &.delete {
        background-image: url("./assets/images/icon/trash-can.svg");
        background-size: 100% 100%;
    }

    &.loading {
        background-image: url("./assets/images/icon/loading.gif");
        background-size: 100% 100%;
    }

    &.lg {
        width: 1.4rem;
        height: 1.4rem;
    }

    &.xl {
        width: 8rem;
        height: 8rem;
    }

    &.running-ball {
        background-image: url("./assets/images/icon/running_ball.gif");
        background-size: 100% 100%;
    }
}

.default-content {
    margin: 1rem 0;
    color: $content;

    &.disabled,
    .disabled {
        color: $disabled;
    }
}

@keyframes slide-in__right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-in__left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
