$primary-color: #8cea00;
$secondary-color: #82d900;

$normal-text-color: #e0e0e0;
$notification-item-text-color: #d0d0d0;

$input-placeholder-color: #9d9d9d;

$input-border-color: #9d9d9d;
$notification-item-border-color: #e0e0e0;

$menu-border-color: #6c6c6c;
$notification-border-color: #6c6c6c;

$error-color: red;
