@import "../_globals.scss";

$primary-color: $sportsman-primary-color;
$secondary-color: $sportsman-secondary-color;
$background-color: $sportsman-primary-color;
$normal-text-color: $sportsman-normal-text-color;
$input-border-color: $sportsman-input-border-color;
$input-placeholder-color: $sportsman-input-placeholder-color;
