@import "../_background_colors.scss";
@import "./_colors.scss";
@import "../_sizes.scss";
@import "./_sizes.scss";

.container-header {
    width: 100vw;
    height: $header-height;
    border-bottom: 1px solid $secondary-color;
}

.container-body {
    width: 100vw;
}

.container-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
    height: 100vh;
    background-color: $sportsman-background-color;
    border-right: 1.5px solid $menu-border-color;
}

.container-notification {
    position: absolute;
    top: 0;
    right: 0;
    width: 90vw;
    height: 100vh;
    background-color: $sportsman-background-color;
    border-left: 1.5px solid $notification-border-color;
    overflow: auto;
}

@media (min-width: $pc-min-width) {
    .container-header,
    .container-body {
        width: $pc-display-size;
    }

    .container-menu {
        left: calc(50vw - $pc-display-size / 2);
        width: calc($pc-display-size * 0.9);
    }

    .container-notification {
        right: calc(50vw - $pc-display-size / 2);
        width: calc($pc-display-size * 0.9);
    }
}
