@import "./_sportsman.scss";

.login {
    width: 100%;
    height: 100%;
}

.login-space1 {
    padding-top: 23%;
}

.login-space2 {
    padding-top: 5%;
}

.login-space3 {
    padding-top: 5%;
}

.login-space4 {
    padding-top: 4.5%;
}

.login-space5 {
    padding-top: 4%;
}

.login-space6 {
    padding-top: 6%;
}

.login-space7 {
    padding-top: 4%;
}

.login-title {
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: $primary-color;
}

.login-image {
    display: block;
    margin: auto;
    height: 24%;
}

.login-email {
    display: block;
    margin: auto;
    padding-left: 3.5%;
    width: 60%;
    height: 5.5%;
    font-size: 16px;
    color: $normal-text-color;
    background-color: transparent;
    border: 1px solid $input-border-color;
    border-radius: 16px;

    &::placeholder {
        font-size: 14px;
        color: $input-placeholder-color;
    }
}

.login-password {
    display: block;
    margin: auto;
    padding-left: 3.5%;
    width: 60%;
    height: 5.5%;
    font-size: 16px;
    color: $normal-text-color;
    background-color: transparent;
    border: 1px solid $input-border-color;
    border-radius: 16px;

    &::placeholder {
        font-size: 14px;
        color: $input-placeholder-color;
    }
}

.login-login {
    display: block;
    margin: auto;
    width: 65%;
    height: 6%;
    font-size: 16px;
    font-weight: bold;
    background-color: $primary-color;
}

.login-email-error {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
    font-size: 14px;
    color: $error-color;
}

.login-password-error {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
    font-size: 14px;
    color: $error-color;
}

.login-register-text {
    font-size: 16px;
    text-align: center;
    color: $normal-text-color;
}

.login-register-link {
    color: $secondary-color;
}

.login-court-provider {
    font-size: 16px;
    text-align: center;
    color: $secondary-color;
}
