@import "../../variables";

.pager {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    background-color: $dark;

    &-wrapper {
        padding-top: $header-height;
    }
}

@media (min-width: $pc-min-width) {
    .pager {
        left: calc(50vw - $pc-display-size / 2);
        width: $pc-display-size;
    }
}
