@import "../../variables";

.pager {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@media (min-width: $pc-min-width) {
    .pager {
        left: calc(50vw - $pc-display-size / 2);
        width: $pc-display-size;
    }
}